@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* table styles */

table {
  width: 100%;
  align-items: center;
}

tr {
  height: 2em;
}

th,
td {
  text-align: center;
}

input [type="button"] {
  height: 20px;
  background-color: #009d90;
}

.Header {
  height: 4em;
  width: 100vw;
  background-color: #009d90;
}

.NavLink {
  text-decoration: none;
  margin: 0.7em;
  height: 36px;
  color: #ffffff;
}
